/*import a special font "Illuminati"*/
@font-face {
	font-family: Illuminati;
	src: url('../fonts/Kingthings_Petrock_light-webfont.eot');
	src: url('../fonts/Kingthings_Petrock_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Kingthings_Petrock_light-webfont.woff') format('woff'),
		 url('../fonts/Kingthings_Petrock_light-webfont.ttf') format('truetype'),
		 url('../fonts/Kingthings_Petrock_light-webfont.svg#kingthings_petrock_lightRg') format('svg');
	font-weight: normal;
	font-style: normal;

}
 html, body{
	height: 100%;
	font-family: Illuminati;
 }

body{
	background-color: #799873;
	color:white;
	margin: 0;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	position: relative;
}

header{
	display: flex;
	background-color: rgb(133, 187, 101);
	padding: 0 1em;
	text-transform: uppercase;
	font-weight: bold;
}
.header.navigation{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
/*set the logo size*/
div#logo{
	width: 255px;
}

/*navigation menu*/
.navigation nav{
	align-self: flex-end;
}
nav a{
	text-decoration: none;
	color: white;
}
nav ul{
	position: relative;
	list-style-type: none;
	text-align: right;	
}
.navigation>nav>ul{
	font-size: 1.1em;
	letter-spacing: 1px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	align-items: flex-end;
}
nav>ul>li{
	padding: 1em;
	position: relative;
	align-self: baseline;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
/*sub menu*/

ul ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #2D5F91; 
	z-index: 1000;
	float: left;
	padding: 0;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
ul ul li{
	white-space:nowrap;
	float: none;
	clear: both;
	text-align: left;
	padding: 0.5em;
	border-radius: 0.5em;
}

/* === hover effects for the menu  === */
nav>ul>li:hover{
	background-color: #47935C;
}
nav>ul>li:hover > ul{
	display: block;
	padding: 0.5em;
	background-color: #47935C;
}
nav>ul>li>ul>li:hover{
	background-color: #62B579;
}

/*Webpage content section*/
#main{
	display: block;
	overflow: auto;
	min-height: 76.5vh;
	padding: 1em;
}
section{
	float: left;
	width: 30%;
	padding: 1em;
}
#news:first-letter,
#events:first-letter,
#video:first-letter{
text-transform: uppercase;
font-size: 3em;
}
.image {
    display: inline-block;
    width: 500px;
}
#left {
    width: 500px;
}
#left img {
    display: block;
    float: right;
    border-radius: 10px;
    margin-bottom: 10px;
}
#content article {
    height: 163px;
}
.info {
    text-align: center;
}
/*=== Start FOOTER Start === */
footer{
	position: relative;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	background-color: rgb(133, 187, 101);
}
footer div{
	padding: 1em;
	text-align: center;
}