.image {
    display: inline-block;
    width: 300px;
}
#left {
    width: 300px;
}
#left img {
    display: block;
    float: right;
    border-radius: 10px;
    margin-bottom: 10px;
}
#content article {
    height: 163px;
}
#content {
    width: 500px !important;
}
.info {
    text-align: center;
    width: 500px;
}
.name {
    display: inline-block;
    width: 500px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}